<div id="bayesian-viz-root">
    <noscript>You need to enable JavaScript to view this visualization.</noscript>
    <div class="loading">Loading visualization...</div>
</div>

<script src="https://cdn.plot.ly/plotly-2.26.0.min.js"></script>
<script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<!-- Load only the dependencies we need -->
<script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>

<style>
    .card {
        background-color: white;
        border-radius: 0.5rem;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        margin: 1rem;
        padding: 1rem;
    }
    
    .input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #e2e8f0;
        border-radius: 0.375rem;
        margin-top: 0.25rem;
        margin-bottom: 1rem;
    }
    
    .label {
        font-size: 0.875rem;
        font-weight: 500;
        color: #1a202c;
    }
    
    .card-header {
        padding: 1.25rem 1.25rem 0;
    }
    
    .card-title {
        font-size: 1.25rem;
        font-weight: 600;
        color: #1a202c;
    }
    
    .card-content {
        padding: 1.25rem;
    }

    .loading {
        text-align: center;
        padding: 2rem;
        font-style: italic;
        color: #666;
    }
</style>

<script type="text/babel" src="{{ site.baseurl }}/assets/js/bayesian-viz.js"></script>